{% assign skills = site.data.data.skills %} {% if skills %}
<section class="skills-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">
    {% assign sorted_skills = skills.toolset | sort: 'years' | reverse %}
    {% for skill in sorted_skills %}
    {% assign green_value = skill.years | times: 25 %}
    {% assign red_value = 255 | minus: green_value %}
    {% if green_value > 255 %}
      {% assign green_value = 255 %}
    {% endif %}
    {% if red_value < 0 %}
      {% assign red_value = 0 %}
    {% endif %}
    <div class="item">
      <h6 class="level-title">{{ skill.name }} - <span style="color: rgb({{ red_value }}, {{ green_value }}, 0);">{{ skill.years }} years</span></h6>
    </div> 
    <!--//item-->
    {% endfor %}
  </div>
</section>
<!--//skills-section-->
{% endif %}