/* Ceramic variables */
$theme-color: #333336b2;
$text-color: #ffffff;
$text-color-secondary: #ffffff;
$text-grey: #97AAC3;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #444343;
$smoky-white: #000000;
$heart: #3a6aee;
