/* Ceramic variables */
$theme-color: #1c1c31b2;
$text-color: #0f8bff;
$text-color-secondary: #bebac5;
$text-grey: #97AAC3;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #413f3f;
$smoky-white: #1b1b1b;
$heart: #3a6aee;
